* {
  margin: 0;
}

header {
  background-color: #0d003d;
  color: #fff;
  height: 12vh;
  padding-top: 4em;
}

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #e1e2e1;
  color: #000;
  margin: 0 0 2rem 0;
}

.titulo {
  color: #ff9e9e;
}

section {
  width: 80%;
  height: 50%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  font-family: "Concert One", cursive;
}

h2 {
  color: #2a0074;
  font-size: 40px;
  margin: 0.8em;
}

h3 {
  color: #644297;
  font-size: 1.5em;
  margin-top: 1.5em;
}

h4 {
  color: #fff;
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0.5em;
}

p {
  font-size: 1.4rem;
  line-height: 1, 5;
  text-align: justify;
  margin: 1em;
}

img {
  width: 50%;
}

ul {
  list-style-type: none;
  line-height: 2;
}

ul li {
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: #0d003d;
  font-weight: 700;
  font-size: 1.2em;
}

.principal {
  background: #351968;
  height: 10vh;
  max-width: 100%;
  margin: 0 auto;
}

.principal a {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: none;
}

.principal a:hover {
  color: #e1e2e1;
  font-weight: 600;
  transition: 300ms;
}

.principal li {
  display: inline-block;
  line-height: 2.5;
  margin: 0.8em 5em;
}

#nome,
#email,
#telefone {
  width: 12vw;
  height: 2.5vh;
  border-radius: 5px;
  margin-top: 1.8em;
}

button {
  background-color: #41f341;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px 20px;
  width: 5vw;
  height: 3vh;
  cursor: pointer;
}

button:hover {
  background-color: #351968;
  color: #fff;
  transition: 300ms;
  font-weight: bold;
}

footer {
  background-color: #644297;
  height: 13vh;
  position: absolute;
  width: 100%;
}
